USE [master]
GO
/****** Object:  Database [BookStoreManager]    Script Date: 7/18/2022 4:21:01 PM ******/
CREATE DATABASE [BookStoreManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookStoreManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookStoreManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreManager]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 7/18/2022 4:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[isRole] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBook]    Script Date: 7/18/2022 4:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBook](
	[bookID] [varchar](50) NOT NULL,
	[bookName] [varchar](100) NOT NULL,
	[imagePath] [varchar](300) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 3) NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 7/18/2022 4:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [char](6) NOT NULL,
	[purchaseDate] [date] NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder_Details]    Script Date: 7/18/2022 4:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder_Details](
	[idOrder_Details] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[totalPrice] [decimal](18, 3) NULL,
	[orderID] [char](6) NOT NULL,
	[bookID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrder_Details] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 7/18/2022 4:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](200) NULL,
	[birthday] [date] NULL,
	[phoneNumber] [varchar](10) NULL,
	[username] [varchar](50) NOT NULL,
	[gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAccount] ([username], [password], [fullName], [isRole]) VALUES (N'admin', N'123456', N'Admin', 1)
INSERT [dbo].[tblAccount] ([username], [password], [fullName], [isRole]) VALUES (N'thanhnh', N'123456', N'Hữu Thanh', 0)
INSERT [dbo].[tblAccount] ([username], [password], [fullName], [isRole]) VALUES (N'thanhnhse151252', N'123456', N'Huu Thanh', 0)
GO
INSERT [dbo].[tblBook] ([bookID], [bookName], [imagePath], [quantity], [price], [status]) VALUES (N'B001', N'English Grammar in Use Book w Ans', N'english_grammar_in_use_book_w_ans_1_2018_09_19_15_25_47.jpg', 0, CAST(28.000 AS Decimal(18, 3)), 0)
INSERT [dbo].[tblBook] ([bookID], [bookName], [imagePath], [quantity], [price], [status]) VALUES (N'B002', N'Diary of a Wimpy Kid', N'81R2N4PRuUL.jpg', 1, CAST(34.000 AS Decimal(18, 3)), 1)
INSERT [dbo].[tblBook] ([bookID], [bookName], [imagePath], [quantity], [price], [status]) VALUES (N'B003', N'I-learn Smart World 8 SB', N'st8.jpg', 5, CAST(21.000 AS Decimal(18, 3)), 1)
GO
INSERT [dbo].[tblOrder] ([orderID], [purchaseDate], [username]) VALUES (N'ID0001', CAST(N'2022-07-15' AS Date), N'thanhse')
INSERT [dbo].[tblOrder] ([orderID], [purchaseDate], [username]) VALUES (N'ID0002', CAST(N'2022-07-18' AS Date), N'thanhnhse151252')
GO
SET IDENTITY_INSERT [dbo].[tblOrder_Details] ON 

INSERT [dbo].[tblOrder_Details] ([idOrder_Details], [quantity], [totalPrice], [orderID], [bookID]) VALUES (40, 5, CAST(110.000 AS Decimal(18, 3)), N'ID0001', N'B007')
INSERT [dbo].[tblOrder_Details] ([idOrder_Details], [quantity], [totalPrice], [orderID], [bookID]) VALUES (41, 5, CAST(450.000 AS Decimal(18, 3)), N'ID0001', N'B020')
INSERT [dbo].[tblOrder_Details] ([idOrder_Details], [quantity], [totalPrice], [orderID], [bookID]) VALUES (42, 20, CAST(560.000 AS Decimal(18, 3)), N'ID0002', N'B001')
SET IDENTITY_INSERT [dbo].[tblOrder_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([userID], [address], [birthday], [phoneNumber], [username], [gender]) VALUES (1, N'26 Duong 12c', CAST(N'2001-05-27' AS Date), N'0326549533', N'thanhnh', 1)
INSERT [dbo].[tblUser] ([userID], [address], [birthday], [phoneNumber], [username], [gender]) VALUES (7, NULL, NULL, NULL, N'thanhse', NULL)
INSERT [dbo].[tblUser] ([userID], [address], [birthday], [phoneNumber], [username], [gender]) VALUES (10, N'123abc', CAST(N'2001-05-27' AS Date), N'0326549533', N'thanhnhse151252', 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUser__F3DBC5727E6F26B6]    Script Date: 7/18/2022 4:21:01 PM ******/
ALTER TABLE [dbo].[tblUser] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ACCOUNT] FOREIGN KEY([username])
REFERENCES [dbo].[tblAccount] ([username])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK_ORDER_ACCOUNT]
GO
ALTER TABLE [dbo].[tblOrder_Details]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_BOOK] FOREIGN KEY([bookID])
REFERENCES [dbo].[tblBook] ([bookID])
GO
ALTER TABLE [dbo].[tblOrder_Details] CHECK CONSTRAINT [FK_ORDER_DETAILS_BOOK]
GO
ALTER TABLE [dbo].[tblOrder_Details]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_ORDERS] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblOrder_Details] CHECK CONSTRAINT [FK_ORDER_DETAILS_ORDERS]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT] FOREIGN KEY([username])
REFERENCES [dbo].[tblAccount] ([username])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_USER_ACCOUNT]
GO
USE [master]
GO
